/saved code/
main.env
database.log
discord.log
test files/codetest.py
/disabled/
/backup/
/users/
/venv/
/jsons/
/logs/
/test files/
/config/
/client_key.json
/.idea/discord.xml
/error.txt
/history.json
/.idea/misc.xml
/purge.json
/roulette.json
/.idea/vcs.xml
/New-backup/
/rmrbot.zip
/debug/
/.env
